/* Global.css */

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: rgb(64, 78, 58);
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(117, 110, 110);
}
















/* links */

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
   
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    /* background-color: rgb(170, 155, 155);
    opacity: 10%; */
  }
  
  /* selected link */
  a:active {
    color: rgb(196, 38, 38);
  }







/* header */
header{
    display: flex;
    justify-content: center;
}

  .header-container {
    display: flex;
    width: 90%;
    background-color: rgb(197, 182, 182);
    justify-content: space-between;
    
  }
  
  .header-container > div {
    background-color: rgb(197, 182, 182);
    margin: 0px;
    font-size: 30px;

  }
 
li {
	display: inline;
    padding: 10px;
    font-size: 20px;
}










/* media */

@media screen and (max-width: 500px){
    .signup{
        width: 400px;
        height: 500px;
    }
    form{
        margin-left: 20%;
    }    
}
@media screen and (min-width: 600px){

}












/* nav */


  
  .nav {
    overflow: hidden;
    background-color: rgb(76, 83, 76);
    position: relative;
  }
  
  .nav #menu {
    display: none;
  }
  
  .nav a {
    color: rgb(15, 14, 14);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .nav a.icon {
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  
  .active {
    background-color: rgb(255, 255, 255);
    color: white;
  }


















/* form */

  
  * {
    box-sizing: border-box;
  }  
  .bg-img {
    background-image: url("pool.jpg");
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    left: 70px;
    top: 50px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(241, 235, 235);
    opacity: 70%;
    border-radius: 20px;
  }
  .container-signup {
    position: absolute;
    left: 40px;
    top: 0px;
    margin: 20px;
    max-width: 400px;
    padding: 16px;
    background-color: rgb(241, 235, 235);
    opacity: 70%;
    border-radius: 20px;
  }
     input[type=text], input[type=email] ,input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for the submit button */
  .btn {
    background-color: #2d3b2e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  
