<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c9cd230c37.js" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <title>Divvy</title>
   
       
</head>

  <div class="nav">
      <a href="#home" class="active"> </a>
      <div id="menu">
        <a href="#">Sign up</a>
        <a href="#">Log In</a>
        <a href="#">About</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="dropDown()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
    <div style="padding-left:16px">
    </div>



  </div>
</header>
  <body>
   
      <form class="container-1">
  <h1>DIVVY</h1> hello my name is jonathan. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, molestiae quae iusto neque aperiam cumque error aliquam! Id repellat minima suscipit. Vero ipsa fugiat, omnis molestias libero ullam natus nihil?<br><br>
  <button type="submit" class="main-btn">Sign-up</button>

      </form>

            <form class="container-2">
              <h3>Recent</h3>
              <container class="recent-1">
                <hr>
    
    <p>Cafe GRAVITY <span class="sketch-highlight">Berlin, Germany</span></p>
  <img src="/images/cafe.jpg" style="width: 700px; height: 300px;">
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde voluptatem sunt neque? Voluptate aspernatur voluptatem sit obcaecati ipsum ducimus soluta, delectus accusantium perferendis fugit fugiat, recusandae quis? Itaque, voluptatum sed. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime incidunt nulla corporis inventore qui. Numquam, facere aliquam, distinctio eaque architecto recusandae nihil magni laboriosam, eligendi magnam voluptatum quasi delectus. Consequatur?</p>
            </container>
            <hr>
                      <container class="recent-2">
  <p>kinsai<span class="sketch-highlight">Osaka, Japan</span> </p>
  <img src="/images/shimo.jpg" 
  style="width: 700px; height: 300px;">
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde voluptatem sunt neque? Voluptate aspernatur voluptatem sit obcaecati ipsum ducimus soluta, delectus accusantium perferendis fugit fugiat, recusandae quis? Itaque, voluptatum sed. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime incidunt nulla corporis inventore qui. Numquam, facere aliquam, distinctio eaque architecto recusandae nihil magni laboriosam, eligendi magnam voluptatum quasi delectus. Consequatur?</p>
            </container>
            <hr>
      </form>

            <form class="container-3">

  <h3>Trending</h3> my name is jonathan. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, molestiae quae iusto neque aperiam cumque error aliquam! Id repellat minima suscipit. Vero ipsa fugiat, omnis molestias libero ullam natus nihil?

   hello my name is jonathan. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, molestiae quae iusto neque aperiam cumque error aliquam! Id repellat minima suscipit. Vero ipsa fugiat, omnis molestias libero ullam natus nihil?
      </form>
      <form class="container-ad">
        <a href="airbnb.com">
        <img class="ad" src="/images/airbnb2.png" alt="Ad-airbnb" width="600px" height="180px" style="vertical-align:bottom">
        </a>
      </form>

</body>

<script src="dividend.js"></script>
</html>