


<nav class="container-2">
    Recent
    <ul class="nav-links">
        <li>
            <a href="/"><button>All</button></a>
        </li>
        <li>
            <a href="?price=$$"><button>$$</button></a>
        </li>
        <li>
            <a href="?city=Calgary"><button>Calgary</button></a>
        </li>
    
    </ul>
</nav>

<section class="content">
    <ul class="items">
    </ul>
</section>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/script.js"></script> 





